/.idea
/.vscode
/.spyproject
/data
.data
/beratools/gui/icons/grass
/dist
/output
__pycache__
notebooks/params_hpc.yml
notebooks/params_win.yml
notebooks/full_workflow.slurm
*.pyc
*.whl
.project
.pydevproject

local.env
.env

# pixi environments
.pixi
*.egg-info
pixi.lock


